body,
h1,
p {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darkslateblue;
  padding: 10px;
  h1 {
    color: plum;
    font-size: 40px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    border: 0;
    span {
      color: wheat;
    }
  }
  .navitem {
    .item {
      color: white;
      font-size: 20px;
      text-decoration: none;
      margin: 0 10px;
      background-color: cadetblue;
      padding: 5px 20px;
      border-radius: 10px;
    }
  }
}
.banner {
  background-color: darkgray;
  .banner-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 20px 15px;
    img {
      width: 500px;
      max-width: 100%;
      border-radius: 20px;
    }
    p {
      margin-top: 5px;
    }
  }
}
.title {
  margin: 100px 0 60px 0;
}
.body-container {
  display: flex;
  background-color: darkcyan;
  .shorting {
    width: 1000px;
    background-color: gray;
    .stiky {
      position: sticky;
      top: 0;
      left: 0;
      .shortestList {
        padding: 20px 5px;
      }
    }
  }
}
.itemcart {
  text-align: center;
  text-decoration: none;
  background: #000;
  padding: 10px;
  color: aliceblue;
  margin: 10px;
  border-radius: 10px;
}
