body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darkslateblue;
  padding: 10px;
  h1 {
    color: plum;
    font-size: 40px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    border: 0;
    span {
      color: wheat;
    }
  }
  .navitem {
    .item {
      color: white;
      font-size: 20px;
      text-decoration: none;
      margin: 10px;
      background-color: cadetblue;
      padding: 5px 20px;
      border-radius: 10px;
    }
  }
}
